<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
    
    >


	<bean class="com.ssi.MyPostProcessor"/>

	<bean id="emp" class="com.ssi.Emp" init-method="start" destroy-method="stop">
		<constructor-arg value="1111"/>
		<constructor-arg value="XYZ"/>
		 
		<property name="code" value="1112"/>
		<property name="name" value="XYZ"/> 
		
	</bean>

	<bean id="customer" class="com.ssi.Customer" scope="prototype"	autowire="byName">
		<property name="code" value="1001" />
		<property name="name" value="ABCD" />

		<property name="cards">
			<list>
				<value>1234</value>
				<value>5678</value>
			</list>
		</property>
	</bean>

	<bean id="address1" class="com.ssi.Address" parent="info">
		<property name="hno" value="555" />
	</bean>

	<bean id="address" class="com.ssi.Address" parent="info">
		<property name="hno" value="555" />
	</bean>
	
	<bean id="trialObj" class="com.ssi.Trial" scope="singleton"
		lazy-init="true">
		<property name="x" value="10" />
		<property name="y" value="20" />
	</bean>

	<bean id="info"  abstract="true">
		<property name="street" value="ABRoad"/>
		<property name="city" value="Indore"/>
		
	</bean>



</beans>

